body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#56595f;
}

@media (max-width:991px) {
  img#image-3-slide {
    height:400px;
  }
}

h1#stop-media-banner-text {
  color:rgb(40,38,38);
}

